__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
.git/
.gitignore
.vscode/
.venv
.github
node_modules/
static/
media/
DockerFile
docker-compose.*
mysql.cnf
mysql_example.cnf
*.swp
*.swo
*.bak

# Jupyter
.ipynb_checkpoints
